language: node_js
node_js: '12'

sudo: required
services:
  - xvfb
addons:
    chrome: stable
install:
  - npm i --no-progress

script:
  - npm run build

deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_TOKEN
  on:
    branch: master